In [ ]:
import numpy as np
import pandas as pd
import csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/yogiyo_delivery_in_seoul.csv')

In [ ]:
df

In [ ]:
df[df['name'].str.contains('\,')]

       Unnamed: 0  ...                                address
731           731  ...                  서울 구로구 개봉동 403-148 2층
866           866  ...        서울특별시 금천구 시흥동 801-28 지상1층 (시흥동)
1181         1181  ...  서울특별시 동작구 신대방동 719 동작상떼빌아파트 106동 123호
1683         1683  ...             서울 관악구 봉천동 1661-4 지하1층 11호
2602         2602  ...                  서울 관악구 신림동 1476-11 1층
...           ...  ...                                    ...
41931       41931  ...         서울특별시 강북구 미아동 41-2 1층 102호(좌측)
42015       42015  ...                 서울특별시 강북구 수유동 30-61 1층
43220       43220  ...            서울 강북구 수유동 222-55 메인하우스5 1층
43344       43344  ...                서울특별시 도봉구 쌍문동 423-17 2층
45176       45176  ...           서울 노원구 상계동 323-9 백영빌딩 1층 일부호

[79 rows x 8 columns]

In [ ]:
df['name'] = df['name'].str.replace(r'\,', '|')

In [ ]:
df.to_csv('/content/drive/MyDrive/yogiyo_delivery_in_seoul2.csv')

In [ ]:
df[df['name'].str.contains('|')]

       Unnamed: 0  ...                                            address
0               0  ...                         서울 중랑구 면목동 371-122 한성빌딩 1층
1               1  ...                      서울특별시 동작구 신대방동 686-2 686-2 1층
2               2  ...           서울 송파구 가락동 600 가락동 농수산물도매시장 비동 지하1층 4-1호
3               3  ...  서울 송파구 가락동 600 가락동 농수산물도매시장 가락몰판매동 수산부류 1층94호,...
4               4  ...                        서울 양천구 신정동 1030-6 210호,211호
...           ...  ...                                                ...
45422       45422  ...                                서울 노원구 상계동 101-177
45423       45423  ...  서울특별시 노원구 중계동 137-39 정진아트리움 137-39 정진아트리움 102호 전체
45424       45424  ...                              서울 노원구 상계동 169-367 1층
45425       45425  ...                                  서울 도봉구 도봉동 556-19
45426       45426  ...          서울 노원구 상계동 1313-1 크로바프라자 크로바프라자103-1,104호

[45427 rows x 8 columns]

In [ ]:
df[df['name'].str.contains(r'[가-힣]n[가-힣]')]

       Unnamed: 0  ...                                        address
5               5  ...                    서울 양천구 신정동 1030-6 210호,211호
14             14  ...                    서울 양천구 신정동 1030-6 210호,211호
329           329  ...                         서울 강남구 도곡동 903-9 지하 1층
555           555  ...                서울특별시 강남구 역삼동 637-19 지하1층 B101호
1071         1071  ...                         서울 구로구 구로동 252-45 지하1층
2158         2158  ...                            서울 구로구 개봉동 33-45 1층
2845         2845  ...                       서울 구로구 구로동 169-7 2층 201호
3756         3756  ...                 서울 동작구 신대방동 607-58 보라미술유치원\t1층
4170         4170  ...                서울 동작구 신대방동 707 현대상가 비동 2층 217호
7833         7833  ...                   서울 송파구 석촌동 273 영신빌딩 108,109호
7834         7834  ...                   서울 송파구 석촌동 273 영신빌딩 108,109호
7839         7839  ...                   서울 송파구 석촌동 273 영신빌딩 108,109호
8561         8561  ...  서울특별시 송파구 가락동 80 송파성원쌍떼빌 80 송파성원쌍떼빌 102동 204호
8662         8662  ...                          서울 송파구 마천동 128-124 1층
8695         8695  ...    서울특별시 송파구 송파동 84-2 평화빌딩 84-2 평화빌딩 101, 201호
8708         8708  ...    서울특별시 송파구 송파동 84-2 평화빌딩 84-2 평화빌딩 101, 201호
8712         8712  ...    서울특별시 송파구 송파동 84-2 평화빌딩 84-2 평화빌딩 101, 201호
12036       12036  ...                    서울 서초구 서초동 1304-4 남경빌딩 지상1층
12041       12041  ...                              서울 강남구 역삼동 818 2층
12082       12082  ...                   서울 강남구 대치동 896-42 보성 빌딩 지하1층
13789       13789  ...                               서울 강남구 일원동 687-4
15638       15638  ...                           서울 강서구 화곡동 398-23 1층
16595       16595  ...                            서울 양천구 신정동 986-5 1층
18984       18984  ...                          서울 송파구 석촌동 171-9 지상1층
19000       19000  ...                          서울 송파구 석촌동 171-9 지상1층
19027       19027  ...                           서울 송파구 잠실동 212-29 1층
19145       19145  ...                          서울 송파구 석촌동 171-9 지상1층
19188       19188  ...                       서울 송파구 삼전동 60-12 1층 102호
25669       25669  ...                           서울 광진구 자양동 651-34 1층
27669       27669  ...                서울 마포구 서교동 486 서교푸르지오 101동 132호
36104       36104  ...                                서울 종로구 숭인동 1412
37754       37754  ...                              서울 중랑구 상봉동 246 1층
40117       40117  ...                           서울 성북구 석관동 182-44 1층
40138       40138  ...                 서울특별시 성북구 석관동 182-44 182-44 1층
40257       40257  ...                          서울 중랑구 신내동 563-7번지 2층
40607       40607  ...                           서울 은평구 갈현동 503-27 1층
41120       41120  ...                           서울 강북구 수유동 408-41 1층
41157       41157  ...              서울 강북구 번동 446-13 가든타워빌딩 지하1층 108호
43393       43393  ...               서울특별시 도봉구 창동 657-97 657-97 1층 우측
43431       43431  ...               서울특별시 도봉구 창동 657-97 657-97 1층 우측
43437       43437  ...               서울특별시 도봉구 창동 657-97 657-97 1층 우측
43516       43516  ...               서울특별시 도봉구 창동 657-97 657-97 1층 우측
43517       43517  ...                         서울 도봉구 창동 657-97 1층 우측
44533       44533  ...                        서울 도봉구 도봉동 624-16 1층 좌측

[44 rows x 8 columns]

In [ ]:
df['name'] = df[df.name == df.name.str.contains(r'[가-힣]n[가-힣]')].replace('n', '&')

In [ ]:
df[df['name'].str.contains('&')]

Empty DataFrame
Columns: [Unnamed: 0, name, categories, review_avg, lat, lng, phone, address]
Index: []

In [ ]:
df[df['name'].str.contains('\,')]

       Unnamed: 0  ...                                address
731           731  ...                  서울 구로구 개봉동 403-148 2층
866           866  ...        서울특별시 금천구 시흥동 801-28 지상1층 (시흥동)
1181         1181  ...  서울특별시 동작구 신대방동 719 동작상떼빌아파트 106동 123호
1683         1683  ...             서울 관악구 봉천동 1661-4 지하1층 11호
2602         2602  ...                  서울 관악구 신림동 1476-11 1층
...           ...  ...                                    ...
41931       41931  ...         서울특별시 강북구 미아동 41-2 1층 102호(좌측)
42015       42015  ...                 서울특별시 강북구 수유동 30-61 1층
43220       43220  ...            서울 강북구 수유동 222-55 메인하우스5 1층
43344       43344  ...                서울특별시 도봉구 쌍문동 423-17 2층
45176       45176  ...           서울 노원구 상계동 323-9 백영빌딩 1층 일부호

[79 rows x 8 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/yogiyo_delivery_in_seoul.csv')